<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="NEW/Masterpage/masterpage_Lecturer :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="NEW/Masterpage/masterpage_Lecturer :: navbar"></nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <p><strong>Hệ thống quản lý đồ án tốt nghiệp trường Đại Học Công Nghiệp Hà Nội.</strong></p>
    </div>

    <th:block th:replace="NEW/Masterpage/masterpage_Lecturer :: footer"></th:block>
</div>
</body>
</html>