<html lang="en" xmlns:th="http://www.thymeleaf.org"><head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../../../static/NEW/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/NEW/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../../../static/NEW/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/NEW/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../../../static/NEW/vendor/datatables/dataTables.bootstrap4.css" th:href="@{/NEW/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../../../static/NEW/css/sb-admin.css" th:href="@{/NEW/css/sb-admin.css}" rel="stylesheet">
    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">

    </div>

    <th:block th:fragment="footer">

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="../../../static/NEW/vendor/jquery/jquery.min.js" th:src="@{/NEW/vendor/jquery/jquery.min.js}"></script>
    <script src="../../../static/NEW/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/NEW/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../../static/NEW/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/NEW/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../../../static/NEW/vendor/chart.js/Chart.min.js" th:src="@{/NEW/vendor/chart.js/Chart.min.js}"></script>
    <script src="../../../static/NEW/vendor/datatables/jquery.dataTables.js" th:src="@{/NEW/vendor/datatables/jquery.dataTables.js}"></script>
    <script src="../../../static/NEW/vendor/datatables/dataTables.bootstrap4.js" th:src="@{/NEW/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../../static/NEW/js/sb-admin.min.js" th:src="@{/NEW/js/sb-admin.min.js}"></script>
    <!-- Custom scripts for this page-->
    <script src="../../../static/NEW/js/sb-admin-datatables.min.js" th:src="@{/NEW/js/sb-admin-datatables.min.js}"></script>
    <script src="../../../static/NEW/js/sb-admin-charts.min.js" th:src="@{/NEW/js/sb-admin-charts.min.js}"></script>
    </th:block>
</div>



</body></html>