<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8" />

	<link rel="stylesheet" type="text/css" href="../build/css/jquery.dataTables.min.css"
		  th:href="@{/build/css/jquery.dataTables.min.css}"/>
	<!-- Bootstrap -->
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
		  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
	<!-- Datatables -->
	<link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css"
		  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
	<!-- Font Awesome -->
	<link href="../vendors/font-awesome/css/font-awesome.min.css"
		  th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
	<!-- NProgress -->
	<link href="../vendors/nprogress/nprogress.css" th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet"/>
	<!-- iCheck -->
	<link href="../vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"
		  rel="stylesheet"/>

	<!-- bootstrap-progressbar -->
	<link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
		  th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"/>
	<!-- JQVMap -->
	<link href="../vendors/jqvmap/dist/jqvmap.min.css" th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}"
		  rel="stylesheet"/>
	<!-- bootstrap-daterangepicker -->
	<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css"
		  th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"/>
	<!-- Custom Theme Style -->
	<link href="../build/css/custom.min.css" th:href="@{/build/css/custom.min.css}" rel="stylesheet"/>
	<link href="../css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css"/>
	<link rel="stylesheet" href="../build/css/bootstrap.min.css" th:href="@{/build/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../build/css/hompage-custom.css" th:href="@{/build/css/hompage-custom.css}"/>
	<link href="../build/css/list.css" rel="stylesheet" th:href="@{/build/css/list.css}"/>
	<link href="../build/css/back-end-index.css" rel="stylesheet" type="text/css"
		  th:href="@{/build/css/back-end-index.css}"/>

	<link href="../build/js/Tooltip-css.css" rel="stylesheet" th:href="@{/build/js/Tooltip-css.css}"/>
</head>

<body style="background: #FFF">
	<div class="x_panel" style="margin-top: 30px">
		<th:block th:unless="${#lists.isEmpty(lsLecturer)}">
			<div class="col-md-55" th:each="lecture, i : ${lsLecturer}">
				<div class="thumbnail">
					<div class="image view view-first">
						<img style="width: 100%; display: block;"
							src="'/static/images/face/'+${lecture.avatar}"
							th:src="@{'/images/face/Nu/1.jpg'}" alt="image" />

					</div>
					<div class="caption" align="center">
						<p>
							<strong th:text="${lecture.getFullName()}"></strong>
						</p>
						<p>${lecture.email}</p>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>

<!-- jQuery -->
<script src="../static/vendors/jquery/dist/jquery.min.js"
	th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>

<!-- Bootstrap -->
<script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"
	th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- FastClick -->
<script src="../static/vendors/fastclick/lib/fastclick.js"
	th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>

<!-- NProgress -->
<script src="../static/vendors/nprogress/nprogress.js"
	th:src="@{/vendors/nprogress/nprogress.js}"></script>

<!-- iCheck -->
<script src="../static/vendors/iCheck/icheck.min.js"
	th:src="@{/vendors/iCheck/icheck.min.js}"></script>

<!-- Datatables -->
<script
	src="../static/vendors/datatables.net/js/jquery.dataTables.min.js"
	th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
<script
	src="../static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"
	th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script
	src="../static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"
	th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script
	src="../static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"
	th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
<script
	src="../static/vendors/datatables.net-buttons/js/buttons.flash.min.js"
	th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
<script
	src="../static/vendors/datatables.net-buttons/js/buttons.html5.min.js"
	th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script
	src="../static/vendors/datatables.net-buttons/js/buttons.print.min.js"
	th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script
	src="../static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"
	th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
<script
	src="../static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"
	th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
<script
	src="../static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"
	th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script
	src="../static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"
	th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
<script
	src="../static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"
	th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
<script src="../static/vendors/jszip/dist/jszip.min.js"
	th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
<script src="../static/vendors/pdfmake/build/pdfmake.min.js"
	th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
<script src="../static/vendors/pdfmake/build/vfs_fonts.js"
	th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"
	th:src="@{/build/js/custom.min.js}"></script>
<!-- InstanceEnd -->
</html>