<%@ Page Title="" Language="C#" MasterPageFile="~/GV_Masterpage.master" AutoEventWireup="true" CodeFile="GV_PheDuyet.aspx.cs" Inherits="GV_PheDuyet" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="right_col" role="main">
        <div class="x_title">
            <h2>Phê duyệt đề tài</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel" style="margin-top: 10px">
            <div class="row divider-outer">
                <div class="col col-sm-6 col-xs-12">
                    <div class="tile" style="font-family: Cambria; font-size: 30px; text-align: center">Sinh viên đăng ký</div>
                    <hr />
                    <img src="Images/face/Nu/6.jpg" style="border-radius: 50%; height: 250px; margin-left: 25%" />
                    <br />
                    <div style="margin-left: 13%; margin-top: 30px; font-size: 20px; font-family: Cambria">
                        <dl class="dl-horizontal">
                            <dt>Mã sinh viên</dt>
                            <dd>01521312331</dd>
                            <dt>Họ tên</dt>
                            <dd>Trương noob</dd>
                            <dt>Lớp</dt>
                            <dd>KTPM-CLC-K9</dd>
                            <dt>Điện thoại</dt>
                            <dd>01491234123</dd>
                            <dt>Email</dt>
                            <dd>noob@gmail.com</dd>
                        </dl>
                    </div>
                </div>
                <div class="divider hidden-xs"></div>
                <div class="col col-sm-6 col-xs-12">
                    <div class="tile" style="font-family: Cambria; font-size: 30px; text-align: center">Thông tin đề tài</div>
                    <hr />
                    <div style="margin-left: -50px; margin-top: 50px; font-size: 20px; font-family: Cambria">
                        <dl class="dl-horizontal">
                            <dt>Tên đề tài</dt>
                            <dd>Thết kế hệ thống điều khiển Đèn giao thông trên Micro PLC SIMATIC S7- 200 </dd>
                            <br />
                            <dt>Mô tả đề tài</dt>
                            <dd>Tìm hiểu về các thiết bị tự động hố, các giải pháp tự động hố tích hợp tồn diện thông qua PLC S7 – 200 và quan trọng nhất là những ứng dụng của PLC trong cuộc sống. </dd>
                            <br />
                            <dt>Ghi chú</dt>
                            <dd>
                                <textarea placeholder="Ghi chú thêm về đề tài, lý do hủy (nếu có),...." rows="4" class="form-control"></textarea></dd>

                        </dl>
                    </div>
                </div>
            </div>
            <button style="margin-top: 20px; float: left; margin-left: 33%; font-size: 20px; font-family: Cambria" class="btn btn-danger new-btn">✘ Không duyệt</button>
            <button style="margin-top: 20px; float: right; margin-right: 35%; font-size: 20px; font-family: Cambria" class="btn btn-success new-btn">✔ Duyệt</button>

        </div>

    </div>
</asp:Content>



