<%@ Page Title="" Language="C#" MasterPageFile="~/GV_Masterpage.master" AutoEventWireup="true" CodeFile="GV_ThemDA_1.aspx.cs" Inherits="GV_ThemDA" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="right_col" role="main">
        <div class="clearfix"></div>
        <!-- end page title -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_title">
                        <h2>Thêm đề tài - Bước 1</h2>
                        <div class="clearfix"></div>
                    </div>
                <div class="x_panel">
               
                    <div class="x_content">
                        <div class="form-horizontal form-label-left" style="font-family:Cambria;font-size:18px">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">
                                    Tên đề tài <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="first-name2" class="form-control col-md-7 col-xs-12" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="lydo">
                                    Tóm tắt đề tài <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea type="form-control" rows="4" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="float: right">
                            <button class="btn btn-success new-btn" >Tiếp tục ❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>


