<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layouthompage :: head">


</head>

<body style="background: #FFF">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top"
			th:replace="layouthompage :: header"></nav>

		<div class="container" style="min-height: 800px">
			<div class="row" style="margin-top: 60px">
				<div class="">
					<h2>Danh sách giảng viên hướng dẫn</h2>
				</div>
				<form action="loadDSGVHD.htm" method="GET">
					<div class="col-md-4 col-sm-12">
						<h3>Chọn khoa:</h3>

						<select class="form-control" name="faculty" id="khoa">
							<option value="cntt">Công nghệ thông tin</option>
							<option value="english">Tiếng anh</option>
						</select>
					</div>

				</form>
				<div id="noidung">...</div>
			</div>

		</div>

		<footer th:align="center" th:replace="layouthompage :: footer">
		</footer>

	</div>
</body>
<script>
	$(document).ready(function() {
		$("noidung").load("/ajax");
	});
</script>


</html>