<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<meta charset="UTF-8" />
<title>Hệ thống quản lý đồ án tốt nghiệp Đại Học Công Nghiệp Hà
	Nội</title>
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Hệ thống quản lý đồ án tốt nghiệp Đại Học Công Nghiệp Hà Nội</title>

	<link href="../static/vendors/bootstrap/dist/css/bootstrap.min.css"
		  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"
		  rel="stylesheet"/>


	<link rel="stylesheet" type="text/css" href="../build/css/jquery.dataTables.min.css"
		  th:href="@{/build/css/jquery.dataTables.min.css}"/>
	<!-- Bootstrap -->
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
		  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
	<!-- Datatables -->
	<link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"
		  th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet"/>
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css"
		  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
	<!-- Font Awesome -->
	<link href="../vendors/font-awesome/css/font-awesome.min.css"
		  th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
	<!-- NProgress -->
	<link href="../vendors/nprogress/nprogress.css" th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet"/>
	<!-- iCheck -->
	<link href="../vendors/iCheck/skins/flat/green.css" th:href="@{/vendors/iCheck/skins/flat/green.css}"
		  rel="stylesheet"/>

	<!-- bootstrap-progressbar -->
	<link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
		  th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"/>
	<!-- JQVMap -->
	<link href="../vendors/jqvmap/dist/jqvmap.min.css" th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}"
		  rel="stylesheet"/>
	<!-- bootstrap-daterangepicker -->
	<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css"
		  th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"/>
	<!-- Custom Theme Style -->
	<link href="../build/css/custom.min.css" th:href="@{/build/css/custom.min.css}" rel="stylesheet"/>
	<link href="../css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" type="text/css"/>
	<link rel="stylesheet" href="../build/css/bootstrap.min.css" th:href="@{/build/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../build/css/hompage-custom.css" th:href="@{/build/css/hompage-custom.css}"/>
	<link href="../build/css/list.css" rel="stylesheet" th:href="@{/build/css/list.css}"/>
	<link href="../build/css/back-end-index.css" rel="stylesheet" type="text/css"
		  th:href="@{/build/css/back-end-index.css}"/>

	<link href="../build/js/Tooltip-css.css" rel="stylesheet" th:href="@{/build/js/Tooltip-css.css}"/>

<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>


</head>

<body style="background: #FFF">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top"
			th:fragment="header">
			<div class="container" style="">
				<div class="logo">
					<div>
						<a href="/"> <img src="../static/images/haui_lg.png"
							th:src="@{/images/haui_lg.png}" width="40px"
							alt="Đại học công nghiệp hà nội" /> <span
							style="color: white; font-weight: bold">HỆ THỐNG QUẢN LÝ
								ĐỒ ÁN TỐT NGHIỆP</span>
						</a>
					</div>
				</div>

			</div>
		</nav>

		<div class="container" style="min-height: 800px">
			<div class="row" style="margin-top: 60px">
				<div class="">
					<h2>Danh sách giảng viên hướng dẫn</h2>
				</div>
				<form action="loadDSGVHD.htm" method="GET">
					<div class="col-md-4 col-sm-12">
						<h3>Chọn khoa:</h3>

						<select class="form-control" name="faculty" id="khoa">
							<option value="cntt">Công nghệ thông tin</option>
							<option value="english">Tiếng anh</option>
						</select>
					</div>

				</form>
				<div id="noidung">...</div>
			</div>

		</div>

		<footer th:align="center" th:fragment="footer">
			<hr></hr>
			<div>Copyright 2017 © HAUI</div>
			<div>
				<strong>Hệ thống Quản lý đồ án tốt nghiệp</strong> - Phát triển bởi
				nhóm 4 - ĐH KTPM CLC K9
			</div>

		</footer>

	</div>

	<script>
		$(document).ready(function() {
			$("#khoa").change(function() {
				var val = $("#khoa").val();
				//alert(val);
				$.get("/ajax", {
					p : val
				}, function(data) {
					$("#noidung").html(data);
				});
			});
		});
	</script>
</body>


</html>