<%@ Page Title="" Language="C#" MasterPageFile="~/SV_Masterpage.master" AutoEventWireup="true" CodeFile="SV_HuyDA_1.aspx.cs" Inherits="SV_HuyDA_1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        <!-- end page title -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <h2>Hủy đề tài - Bước 1</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">
                                    Tên đề tài 
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" disabled id="first-name1" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Giảng viên hướng dẫn </label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="text" disabled id="first-name2" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="lydo">
                                    Thông tin đề tài
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea type="form-control" rows="4" class="form-control col-md-7 col-xs-12" disabled="disabled"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">Lý do<span class="required">*</span></label>
                                <div class="col-sm-6 col-md-6">
                                    <textarea type="form-control" rows="4" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>

                        </div>
                        <div style="float: right">
                            <button class="btn btn-danger new-btn">Tiếp tục ❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>

