<%@ Page Title="" Language="C#" MasterPageFile="~/SV_Masterpage.master" AutoEventWireup="true" CodeFile="SV_HuyDA_2.aspx.cs" Inherits="SV_HuyDA_2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        <!-- end page title -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <h2>Hủy đề tài - Bước 2: Xác nhận hủy </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">

                    <div class="x_content">

                        <!-- Tabs -->

                        <div id="step-22">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Tên đề tài</th>
                                        <th style="text-align: center">Thông tin đề tài</th>
                                        <th style="text-align: center">Giảng viên hướng dẫn</th>
                                        <th style="text-align: center">Lý do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center">Quản lý đồ án tốt nghiệp</td>
                                        <td style="text-align: center">Tìm hiểu về các thiết bị tự động hố, các giải pháp tự động hố tích hợp tồn diện thông qua PLC S7 – 200 và quan trọng nhất là những ứng dụng của PLC trong cuộc sống.</td>
                                        <td style="text-align: center">
                                            <div class="tooltip-a">
                                                <a href="#" style="font-weight: bold; text-align: center">Hoàng Quang Huy</a>
                                                <div class="tooltiptext-a">
                                                    <img src="Images/face/nu/1.jpg" style="width: 150px; height: 200px; margin-top: 10px" />
                                                    <hr style="width: 80%" />
                                                    <div style="font-family: Cambria; text-align: left; margin-left: 20%; margin-top: -10px">
                                                        ★ Họ tên: Trường Tróc
                                            <br />
                                                        ★ Học vị: Tiến sĩ<br />
                                                        ★ Email: Troc@gmail.com
                                            <br />
                                                        ★ SDT: 013123123231
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                        <td>Em thích
                                        </td>
                                        <%--<td style="text-align: center;font-weight:bold">◯ Đang chờ duyệt</td>--%>
                                        <%--<td style="text-align: center;color:green;font-weight:bold">✔ Đã duyệt</td>--%>
                                        <%--<td style="text-align: center;color:red;font-weight:bold">✘ Không duyệt</td>--%>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left">
                            <button class="btn btn-default new-btn">❮ Quay lại</button>
                        </div>
                        <div style="float: right">
                            <%--nhay sang trang danh sach--%>
                            <button class="btn btn-danger new-btn">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>

