<%@ Page Title="" Language="C#" MasterPageFile="~/SV_Masterpage.master" AutoEventWireup="true" CodeFile="SV_ThemDA_1_2.aspx.cs" Inherits="SV_ThemDA_1_2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        <!-- end page title -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <h2>Đăng Kí - Bước 1: Đăng kí</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">

                    <div class="x_content">

                        <!-- Tabs -->



                        <div style="margin-bottom: 20px; font-size: 20px">
                            <div class="col-md-4 col-sm-12">
                                <h3>Chọn kiểu đăng ký: </h3>
                                <select class="form-control">
                                    <option value="">Chọn từ danh sách có sẵn</option>
                                    <option value="">Đề xuất đề tài mới</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <hr />

                        <div class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3">
                                    Tên đề tài <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="first-name2" class="form-control col-md-7 col-xs-12" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="giangvienhuongdan">Giảng viên hướng dẫn <span class="required">*</span></label>
                                <div class="col-sm-6 col-md-6">
                                    <select class="form-control">
                                        <option value="">-- Chọn giảng viên hướng dẫn --</option>
                                        <option value="">Hoàng Quang huy</option>
                                        <option value="">Nguyễn Văn A</option>
                                        <option value="">Nguyễn Văn B</option>
                                        <option value="">Đào Xuân C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3" for="lydo">
                                    Tóm tắt đề tài <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea type="form-control" rows="4" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="float: right">
                            <button class="btn btn-success new-btn">Tiếp tục ❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>

