<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="NEW/Masterpage/masterpage :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="NEW/Masterpage/masterpage :: navbar"></nav>

<div class="content-wrapper">
    <div class="container-fluid" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" th:href="@{/student/index}">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active">Hủy đề tài</li>
        </ol>

        <div style="margin-left: 15px">
            <h2>Phiếu đăng kí hủy đồ án</h2>
        </div>

        <div th:replace="NEW/Common/CancelProjectForm :: formCancel"></div>

    </div>

    <th:block th:replace="/NEW/Masterpage/masterpage :: footer"></th:block>
</div>
</body>

<script>
    $(document).ready(function () {

        $("#khoa").change(function () {
            var x = $("#khoa").val();

            $.get("/listProject", {
                facultyId: x
            }, function (data) {
                $("#noidung").html(data);
            });

            /* $.get(s"/ajax",{p:x},function(data){
             alert(x);
             $("#noidung").html(data);
             }); */

            /* $("#noidung").load("/DSGV"); */
        });

    });
</script>
</html>